<!DOCTYPE HTML>

<html>
  <head>
    <title>Yherald Bautista</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link href="static/assets/images/favicon.ico" rel="icon">
  </head>
  <body class="is-preload">

    <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="#" class="image avatar"><img src="static/assets/images/avatar.jpg" alt="" /></a>
          <h1><strong>I'm Yherald, </strong> student | develeper.<br />
          Here you can see my skills <br /> and some projects. <br />
          </h1>
        </div>
      </header>

    <!-- Main -->
      <div id="main">

        <!-- One -->
          <section id="one">
            <header class="major">
              <h2>Submitted</h2>
            </header>
            <p>Thank you! I will get in touch with you, shortly!</p>
            <br />
            <a href="./index.html" class="btn btn-success"> ← Home </a> 
          </section>
      </div>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="https://twitter.com/_yheraldb" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/YheraldBautista" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/yheraldbautista/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="mailto:ybautistaman@gmail.com?Subject=New%20mail%20%20through%20portfo" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <ul class="copyright">
            <li>Copyright &copy; Yherald Bautista 2020</li>
          </ul>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/jquery.poptrox.min.js"></script>
      <script src="static/js/browser.min.js"></script>
      <script src="static/js/breakpoints.min.js"></script>
      <script src="static/js/util.js"></script>
      <script src="static/js/main.js"></script>

  </body>
</html>